<div class="tab-pane p-30" id="endorsements">

      <h1 class="text-center font-w-100">Here are Endorsements for <span class="text-blue"><%= @user.first_name %></span></h1>


        <div class="row">

          <div class="col-sm-12 m-b-30">

            <div class="pos-rel">
        <!-- <div class="iconmelon m-r-10">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#receipt-shopping"></use>
            </g>
          </svg>
        </div> -->
                </div>


       
      
      <h1>Endorsements</h1>


      <hr class="m-b-0">


      <div id="tasks-list">
        <table class="table-striped">
        <tr>
          <th>Endorser</th>
          <th>Endorsement</th>
          <th>Associated Skills</th>
        </tr>
          <% @endorsements.where(endorsee_id: @user.id).each do |endorsement| %>

          <tr>

            <td >
              <input type="checkbox" class="icheck"> 
              <span class="body"><%= link_to endorsement.endorser.user.full_name, "/users/#{endorsement.endorser.id}" %></span>
            </td>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><%= endorsement.content %></span>
            </td> 
            <td>
              <input type="checkbox" class="icheck">
              <% endorsement.skills.each do |skill| %> 
              <span class="body"><%= "#{skill.name}" %><br></span>
              <% end %>
            </td> 
        
 
          </tr>

        <% end %>

        </table>
        <br>


      </div>
    </div>

  </div>
</div>