<h1>Musicians</h1>
<table class="table-striped">
<tr>
  <th>Musician</th>
  <th>Bio</th>
</tr>
<tr>
<% @users.each do |user| %>
<td>
  <%= link_to "#{user.full_name}", "/users/#{user.id}" %></td>
  <td><%= user.short_bio %></td>
  </tr>
<% end %>
</table>