<h3><span class="text-blue text-uppercase"><%= link_to activity.owner.full_name, "/users/#{activity.owner.id}" %></span></h3><%=image_tag activity.owner.images.first.url %><h4> Created <%= WorkExperience.find(activity.trackable_id).title %></h4>
<p><%= WorkExperience.find(activity.trackable_id).description %></p>