/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme/admin
 *= require_tree .
 *= require_self
 */
// html, body {
//   height: 100%; margin: 0; padding: 0;
// }
.navbar-brand {
  padding: 0px !important;
  padding-left: 15px !important;
}
.logo {
  height: 65px;
  width: 115px;
  padding: 5px;
  padding-top: 10px;
  border-radius: 0px;
  position: relative;
  bottom: 10px;
  margin: auto;

}
.aligned > img {
  height: 100px;
  width: 100px;
}
img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50px;

 }
th {
  text-align: center;
  font-size: 16px;
}
h1 {
  text-align: center;
  margin: 20px;
}
td {
  max-width: 500px
}
.table-striped {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.padded {
  padding: 25px;
}
#map {
  height: 300px;
  width: 300px;
}
.aligned {
position:relative;
display: inline-block;
float:left;
padding:10px;
}
#newsfeed > h3{
  text-align: left;
}
#newsfeed > h4{
  text-align: center;
}#newsfeed > p{
  text-align: center;
}
#newsfeed > iframe {
  height: 50px !important;
}
#newsfeed > img {
  float: left;
  width: auto;
  height: 100px;
  margin: 0px;
  padding: 10px;
}
#newsfeed {
  padding: 35px;
  border: 3px solid lightblue;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  background: white;
}
iframe {
  width: 100% !important;
}
.right {
  float: right;
  color: grey;
  font-size: 12px;
}